@import url(variables.css);

html,body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Swanky and Moo Moo', cursive;
    }

body{
    background-color: var(--background-color);
    text-align: center;
}

.parent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2.5rem;
    text-align: center;
}

.box{
    flex: 0 0 23.5%;
    width: 32vw;
    margin: 25px auto;
    background-color: var(--box-color);
    align-content: center;
    border: solid white;
    border-radius: 25px;
    box-shadow: 12px 10px 0px var(--box-shadow);

}

.image{
    width:15vw;
    height: 14vw; 
}

.logo{
    margin-top: 2rem;
}
.button{
    
    display: inline-block;
    cursor: pointer;
    margin: 1rem auto;
    width: 17rem;
    height: 5rem;
    color: var(--text-color);
    border: var(--box-color);
    line-height: normal;
    background:var(--box-shadow);
    border-radius: 5rem;
    transition: color .2s ease,background-color .2s ease;
    box-shadow: .2s ease;
}

.button:hover{
    box-shadow: 0 0 0 0.15rem white;
    animation: pulse 2s infinite;
    transition: 0.1s;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }