@import url(variables.css);

html,body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Swanky and Moo Moo', cursive;
    }

body{
    background-color: var(--background-color);
    text-align: center;
}

.parent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2.5rem;
    text-align: center;
}

.box{
    flex: 0 0 32%;
    width: 32vw;
    margin: 25px auto;
    background-color: var(--box-color);
    align-content: center;
    border: solid white;
    border-radius: 25px;
    box-shadow: 12px 10px 0px var(--box-shadow);

}

.image{
    width:15vw;
    height: 13vw;
}
