:root{
/*colors*/
--lightBlue:#00b4d8;
--lightPink:#ffc2d1;
--lightGreen: #ADE792;
--blue: #22c9eb;
--pink: #f3aacb;
--green: #B3FFAE;
--darkBlue: #0077b6;
--darkPink:#e44f9c;
--darkGreen: #54B435;
--white: #fff;
--black: #000;
--brown: #331800;

/*text*/
--h1: 7.594rem;
--h2: 5.063rem;
--h3: 3.375rem;
--h4: 2.25rem;
--h5: 1.5rem;
}

h1{
    font-size: var(--h1);
    text-align: center;
    color: var(--text-color);
}

h2{
    font-size: var(--h2);
    text-align: center;
    color: var(--text-color);
}

h3{
    font-size: var(--h3);
    text-align: center;
    color: var(--text-color);
}

p{
    font-size: var(--h4);
    text-align: center;
    color: var(--text-color);
}

.defaultTheme{
    --background-color: var(--lightBlue);
    --box-color: var(--blue); 
    --box-shadow: var(--darkBlue);
    --text-color: var(--white)
    
}

.pinkTheme{
    --background-color: var(--lightPink);
    --box-color: var(--pink);
    --box-shadow: var(--darkPink);
    --text-color: var(--black)
}

.greenTheme{
    --background-color: var(--lightGreen);
    --box-color: var(--green); 
    --box-shadow: var(--darkGreen);
    --text-color: var(--brown);
}