:root{
/*colors*/
--lightblue:#00b4d8;
--lightpink:#ffc2d1;
--boxbluecolor: #22c9eb;
--boxpinkcolor: #f3aacb;
--boxblueshadowcolor: #0077b6;
--boxpinkshadowcolor:#e44f9c;
--white: #f4fdff;

/*text*/
--h1: 7.594rem;
--h2: 5.063rem;
--h3: 3.375rem;
--h4: 2.25rem;
--h5: 1.5rem;
}

h1{
    font-size: var(--h1);
    text-align: center;
    color: white;
}

h2{
    font-size: var(--h2);
    text-align: center;
    color: white;
}

h3{
    font-size: var(--h3);
    text-align: center;
    color: white;
}

p{
    font-size: var(--h4);
    text-align: center;
    color: white;
}

.defaultTheme{
    --background-color: var(--lightblue);
    --box-color: var(--boxbluecolor); 
    --box-shadow: var(--boxblueshadowcolor);
    
}

.pinkTheme{
    --background-color: var(--lightpink);
    --box-color: var(--boxpinkcolor);
    --box-shadow: var(--boxpinkshadowcolor);
}